# Analysis of the U.S. Stock Market during Health Crises
Jupyter Notebook

Authors:
Kush Patel, 
Katherine Thai, 
Jonathan Perez, 
Ron Nathaniel, 
Justin Molina, 
Dhrumil Rana,

In [1]:
import pandas as pd

In [2]:
# Opening CSV files using Pandas into df
dir_data = 'project data\\'
file_gspc = '^GSPC.csv'
file_cl_eq_f = 'CL=F.csv'
file_gc_eq_f = 'GC=F.csv'

gspc_df = pd.read_csv(dir_data + file_gspc)
clf_df = pd.read_csv(dir_data + file_cl_eq_f)
gcf_df = pd.read_csv(dir_data + file_gc_eq_f)

In [3]:
# gspc_df.head()

In [4]:
# clf_df.head()

In [5]:
# gcf_df.head()

In [40]:
#
# will have to do more than this since some have multiple pages
# and others have headers and other substance that is not data
#
rows_to_skip = list(range(0, 6))

dir_SP = "S&P sector return\\"

file_HC = "S&P 500 - Health Care - PerformanceGraphExport.xls"
file_IN = "S&P 500 - Industrials - PerformanceGraphExport.xls"
file_FN = "S&P 500- Financials - PerformanceGraphExport.xls"
file_esp = "sp-500-eps-est.xlsx"
file_MA = "sp-500-market-attributes-web-file.xlsx"

health_care = pd.read_excel(dir_SP + file_HC, skiprows=rows_to_skip, skipfooter=4)
industrials = pd.read_excel(dir_SP + file_IN, skiprows=rows_to_skip, skipfooter=4)
financials = pd.read_excel(dir_SP + file_FN, skiprows=rows_to_skip, skipfooter=4)
esp_est = pd.read_excel(dir_SP + file_esp)
market_attr_web = pd.read_excel(dir_SP + file_MA)

In [33]:
health_care

    Effective date   S&P 500 Health Care (Sector)
0        2019-10-21                       1060.84
1        2019-10-22                       1062.67
2        2019-10-23                       1069.33
3        2019-10-24                       1062.95
4        2019-10-25                       1065.01
..              ...                           ...
249      2020-10-15                       1244.88
250      2020-10-16                       1257.60
251      2020-10-19                       1236.95
252      2020-10-20                       1238.56
253      2020-10-21                       1232.76

[254 rows x 2 columns]

In [34]:
industrials

    Effective date   S&P 500 Industrials (Sector)
0        2019-10-21                        652.36
1        2019-10-22                        657.62
2        2019-10-23                        657.43
3        2019-10-24                        658.24
4        2019-10-25                        662.43
..              ...                           ...
249      2020-10-15                        684.71
250      2020-10-16                        689.55
251      2020-10-19                        681.01
252      2020-10-20                        684.70
253      2020-10-21                        677.92

[254 rows x 2 columns]

In [35]:
financials

    Effective date   S&P 500 Financials (Sector)
0        2019-10-21                       473.09
1        2019-10-22                       471.76
2        2019-10-23                       473.45
3        2019-10-24                       473.26
4        2019-10-25                       475.59
..              ...                          ...
249      2020-10-15                       414.87
250      2020-10-16                       415.21
251      2020-10-19                       408.67
252      2020-10-20                       412.01
253      2020-10-21                       410.28

[254 rows x 2 columns]