# Analysis of the U.S. Stock Market during Health Crises
Jupyter Notebook

Authors:
Kush Patel, 
Katherine Thai, 
Jonathan Perez, 
Ron Nathaniel, 
Justin Molina, 
Dhrumil Rana,

In [4]:
import pandas as pd

In [7]:
# Opening CSV files using Pandas into df
direc = 'project data\\'
file_gspc = '^GSPC.csv'
file_cl_eq_f = 'CL=F.csv'
file_gc_eq_f = 'GC=F.csv'

gspc_df = pd.read_csv(direc + file_gspc)
clf_df = pd.read_csv(direc + file_cl_eq_f)
gcf_df = pd.read_csv(direc + file_gc_eq_f)

In [9]:
gspc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-01-01,902.989990,943.849976,804.299988,825.880005,825.880005,112090640000
1,2009-02-01,823.090027,875.010010,734.520020,735.090027,735.090027,124492210000
2,2009-03-01,729.570007,832.979980,666.789978,797.869995,797.869995,161843640000
3,2009-04-01,793.590027,888.700012,783.320007,872.809998,872.809998,138855320000
4,2009-05-01,872.739990,930.169983,866.099976,919.140015,919.140015,131614940000

In [10]:
clf_df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2009-01-01  43.720001  50.470001  32.700001  41.680000  41.680000  5452571
1  2009-02-01  42.220001  45.299999  33.549999  44.759998  44.759998  5075519
2  2009-03-01  44.340000  54.660000  39.439999  49.660000  49.660000  5322078
3  2009-04-01  48.959999  53.900002  43.830002  51.119999  51.119999  4954274
4  2009-05-01  50.950001  66.639999  50.430000  66.309998  66.309998  5254102

In [ ]:
gcf_df.head()

In [ ]:
#
# will have to do more than this since some have multiple pages
# and others have headers and other substance that is not data
#

file_HC = "S_P 500 - Health Care - PerformanceGraphExport.xls"
file_IN = "S_P 500 - Industrials - PerformanceGraphExport.xls"
file_FN = "S_P 500- Financials - PerformanceGraphExport.xls"
# file_esp = "sp-500-esp_est.xlsx"
file_MA = "sp-500-market-attributes-web-file.xlsx"
health_care = pd.read_excel(file_HC)
industrials = pd.read_excel(file_IN)
financials = pd.read_excel(file_FN)
# esp_est = pd.read_excel(file_esp)
market_attr_web = pd.read_excel(file_MA)