# Analysis of the U.S. Stock Market during Health Crises
Jupyter Notebook

Authors:
Kush Patel, 
Katherine Thai, 
Jonathan Perez, 
Ron Nathaniel, 
Justin Molina, 
Dhrumil Rana,

In [1]:
import pandas as pd

In [2]:
# Opening CSV files using Pandas into df
dir_data = 'project data\\'
file_gspc = '^GSPC.csv'
file_cl_eq_f = 'CL=F.csv'
file_gc_eq_f = 'GC=F.csv'

gspc_df = pd.read_csv(dir_data + file_gspc)
clf_df = pd.read_csv(dir_data + file_cl_eq_f)
gcf_df = pd.read_csv(dir_data + file_gc_eq_f)

In [3]:
# gspc_df.head()

In [4]:
# clf_df.head()

In [5]:
# gcf_df.head()

In [4]:
#
# will have to do more than this since some have multiple pages
# and others have headers and other substance that is not data
#
dir_SP = "S&P sector return\\"
file_HC = "S&P 500 - Health Care - PerformanceGraphExport.xls"
file_IN = "S&P 500 - Industrials - PerformanceGraphExport.xls"
file_FN = "S&P 500- Financials - PerformanceGraphExport.xls"
# file_esp = "sp-500-esp_est.xlsx"
file_MA = "sp-500-market-attributes-web-file.xlsx"
health_care = pd.read_excel(dir_SP + file_HC)
industrials = pd.read_excel(dir_SP + file_IN)
financials = pd.read_excel(dir_SP + file_FN)
# esp_est = pd.read_excel(dir_SP + file_esp)
market_attr_web = pd.read_excel(dir_SP + file_MA)

In [8]:
gspc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-01-01,902.989990,943.849976,804.299988,825.880005,825.880005,112090640000
1,2009-02-01,823.090027,875.010010,734.520020,735.090027,735.090027,124492210000
2,2009-03-01,729.570007,832.979980,666.789978,797.869995,797.869995,161843640000
3,2009-04-01,793.590027,888.700012,783.320007,872.809998,872.809998,138855320000
4,2009-05-01,872.739990,930.169983,866.099976,919.140015,919.140015,131614940000

In [9]:
clf_df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2009-01-01  43.720001  50.470001  32.700001  41.680000  41.680000  5452571
1  2009-02-01  42.220001  45.299999  33.549999  44.759998  44.759998  5075519
2  2009-03-01  44.340000  54.660000  39.439999  49.660000  49.660000  5322078
3  2009-04-01  48.959999  53.900002  43.830002  51.119999  51.119999  4954274
4  2009-05-01  50.950001  66.639999  50.430000  66.309998  66.309998  5254102

In [10]:
gcf_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-01-01,881.500000,930.299988,805.599976,927.299988,927.299988,215420
1,2009-02-01,924.299988,1004.900024,889.799988,941.500000,941.500000,14216
2,2009-03-01,945.000000,963.200012,885.000000,922.599976,922.599976,178292
3,2009-04-01,918.599976,932.500000,865.000000,890.700012,890.700012,17300
4,2009-05-01,884.000000,980.400024,881.500000,978.799988,978.799988,234559

In [18]:
open_25 = gspc_df['Open'].quantile(0.25)
open_25 = open_25.round(2)
open_75 = gspc_df['Open'].quantile(0.75)
open_75 = open_75.round(2)
diff = open_75-open_25
diff = diff.round(2)

1150.35

In [27]:
outlier = gspc_df.loc[(gspc_df['Open'] < open_25 - (1.5 * diff)) | (gspc_df['Open'] > open_75 + (1.5* diff))]
print('There range of the open is (' +str(open_25) + ','+ str(open_75) + ')' )
print ('There are ' + str(outlier['Open'].count()) + ' outliers')

There range of the open is (1326.64,2476.99)
There are 0 outliers

In [62]:
High_25 = gspc_df['High'].quantile(0.25)
High_25 = High_25.round(2)
High_75 = gspc_df['High'].quantile(0.75)
High_75 = High_75.round(2)
diff = High_75-High_25
diff = diff.round(2)
outlier = gspc_df.loc[(gspc_df['High'] < High_25 - (1.5 * diff)) | (gspc_df['High'] > High_75 + (1.5* diff))]
outlier.shape

(0, 7)

In [29]:
print('There range of the High is (' +str(High_25) + ','+ str(High_75) + ')' )
print ('There are ' + str(outlier['High'].count()) + ' outliers')

There range of the High is (1361.71,2535.32)
There are 0 outliers

In [61]:
Low_25 = gspc_df['Low'].quantile(0.25)
Low_25 = Low_25.round(2)
Low_75 = gspc_df['Low'].quantile(0.75)
Low_75 = Low_75.round(2)
diff = Low_75-Low_25
diff = diff.round(2)
outlier =gspc_df.loc[(gspc_df['Low'] < Low_25 - (1.5 * diff)) | (gspc_df['Low'] > Low_75 + (1.5* diff))]
outlier.shape

(0, 7)

In [31]:
print('There range of the Low is (' +str(Low_25) + ','+ str(Low_75) + ')' )
print ('There are ' + str(outlier['Low'].count()) + ' outliers')

There range of the Low is (1287.57,2410.11)
There are 0 outliers

In [60]:
close_25 = gspc_df['Close'].quantile(0.25)
close_25 = close_25.round(2)
close_75 = gspc_df['Close'].quantile(0.75)
close_75 = close_75.round(2)
diff = close_75-close_25
diff = diff.round(2)
outlier = gspc_df.loc[(gspc_df['Close'] < close_25 - (1.5 * diff)) | (gspc_df['Close'] > close_75 + (1.5* diff))]
outlier.shape

(0, 7)

In [43]:
print('There range of the Close is (' +str(close_25) + ','+ str(close_75) + ')' )
print ('There are ' + str(outlier['Close'].count()) + ' outliers')

There range of the Close is (1326.87,2509.98)
There are 0 outliers

In [59]:
Adj_close_25 = gspc_df['Adj Close'].quantile(0.25)
Adj_close_25 = Adj_close_25.round(2)
Adj_close_75 = gspc_df['Adj Close'].quantile(0.75)
Adj_close_75 = Adj_close_75.round(2)
diff = Adj_close_75- Adj_close_25
diff = diff.round(2)
outlier = gspc_df.loc[(gspc_df['Adj Close'] < Adj_close_25 - (1.5 * diff)) | (gspc_df['Adj Close'] > Adj_close_75 + (1.5* diff))]
outlier.shape

(0, 7)

In [45]:
print('There range of the Adj Close is (' +str(Adj_close_25) + ','+ str(Adj_close_75) + ')' )
print ('There are ' + str(outlier['Adj Close'].count()) + ' outliers')

There range of the Adj Close is (1326.87,2509.98)
There are 0 outliers

In [65]:
Volume_25 = gspc_df['Volume'].quantile(0.25)
Volume_75 = gspc_df['Volume'].quantile(0.75)
diff = Volume_75- Volume_25
outlier = gspc_df.loc[(gspc_df['Volume'] < Volume_25 - (1.5 * diff)) | (gspc_df['Volume'] > Volume_75 + (1.5* diff))]
outlier.shape

(12, 7)

In [64]:
print('There range of the Volume is (' +str(Volume_25) + ','+ str(Volume_75) + ')' )
print ('There are ' + str(outlier.shape[0]) + ' outliers')

There range of the Volume is (70807685000.0,87438242500.0)
There are 12 outliers

In [66]:
outlier

,Date,Open,High,Low,Close,Adj Close,Volume
1,2009-02-01,823.090027,875.010010,734.520020,735.090027,735.090027,124492210000
2,2009-03-01,729.570007,832.979980,666.789978,797.869995,797.869995,161843640000
3,2009-04-01,793.590027,888.700012,783.320007,872.809998,872.809998,138855320000
4,2009-05-01,872.739990,930.169983,866.099976,919.140015,919.140015,131614940000
5,2009-06-01,923.260010,956.229980,888.859985,919.320007,919.320007,112653150000
7,2009-08-01,990.219971,1039.469971,978.510010,1020.619995,1020.619995,116059270000
9,2009-10-01,1054.910034,1101.359985,1019.950012,1036.189941,1036.189941,113410990000
15,2010-04-01,1171.229980,1219.800049,1170.689941,1186.689941,1186.689941,116741910000
16,2010-05-01,1188.579956,1205.130005,1040.780029,1089.410034,1089.410034,127662780000
134,2020-03-01,2974.280029,3136.719971,2191.860107,2584.590088,2584.590088,161801100000
135,2020-04-01,2498.080078,2954.860107,2447.489990,2912.429932,2912.429932,123163450000
137,2020-06-01,3038.780029,3233.129883,2965.659912,3100.290039,3100.290039,131044000000