# Analysis of the U.S. Stock Market during Health Crises
Jupyter Notebook

Authors:
Kush Patel, 
Katherine Thai, 
Jonathan Perez, 
Ron Nathaniel, 
Justin Molina, 
Dhrumil Rana,

In [39]:
# Necessary imports

import pandas as pd
import numpy
import os.path as path
from datetime import datetime

In [2]:
# Opening CSV files into Pandas DataFrames

dir_data = 'data'
file_spy = 'spy.csv'
file_co = 'crude-oil.csv'
file_gold = 'gold.csv'

spy_df = pd.read_csv(path.join(dir_data, file_spy))
clf_df = pd.read_csv(path.join(dir_data, file_co))
gold_df = pd.read_csv(path.join(dir_data, file_gold))

# Fixing date type/format 
spy_df['Date'] = pd.to_datetime(spy_df.Date, format='%Y-%m-%d')
clf_df['Date'] = pd.to_datetime(clf_df.Date, format='%Y-%m-%d')
gold_df['Date'] = pd.to_datetime(gold_df.Date, format='%Y-%m-%d')

In [3]:
# spy_df.head()
spy_df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [4]:
# clf_df.head()
clf_df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [5]:
# gold_df.head()
gold_df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [6]:
# skipping the headers of each file
rows_to_skip = list(range(0, 6))

dir_sectors = 'data/spy-sectors'

file_HC = 'healthcare.xls'
file_IN = 'industrials.xls'
file_FN = 'financials.xls'
file_EPS = 'eps-estimate.xlsx'
file_MA = 'market-attributes.xlsx'

# skipping the extra footer of each file
healthcare_19_20 = pd.read_excel(path.join(dir_sectors, file_HC), skiprows=rows_to_skip, skipfooter=4)
industrials_19_20 = pd.read_excel(path.join(dir_sectors, file_IN), skiprows=rows_to_skip, skipfooter=4)
financials_19_20 = pd.read_excel(path.join(dir_sectors, file_FN), skiprows=rows_to_skip, skipfooter=4)
eps_est = pd.read_excel(path.join(dir_sectors, file_EPS))
market_attr = pd.read_excel(path.join(dir_sectors, file_MA))

In [7]:
# healthcare_19_20.head()
healthcare_19_20.dtypes

Effective date                  datetime64[ns]
S&P 500 Health Care (Sector)           float64
dtype: object

In [8]:
# industrials_19_20.head()
industrials_19_20.dtypes

Effective date                  datetime64[ns]
S&P 500 Industrials (Sector)           float64
dtype: object

In [9]:
# financials_19_20.head()
financials_19_20.dtypes

Effective date                 datetime64[ns]
S&P 500 Financials (Sector)           float64
dtype: object

In [10]:
# finding empty entries with isna

def find_num_nans(df, string):
    s1 = df.loc[(df[string].isna())]
    return s1.shape[0]

In [11]:
# printing num of empty in spy_df
for column in spy_df:
    print("Checking : spy_df -", column)
    print(find_num_nans(spy_df, column))

Checking : spy_df - Date
0
Checking : spy_df - Open
0
Checking : spy_df - High
0
Checking : spy_df - Low
0
Checking : spy_df - Close
0
Checking : spy_df - Adj Close
0
Checking : spy_df - Volume
0

In [12]:
# printing num of empty in clf_df
for column in clf_df:
    print("Checking : clf_df -", column)
    print(find_num_nans(clf_df, column))

Checking : clf_df - Date
0
Checking : clf_df - Open
0
Checking : clf_df - High
0
Checking : clf_df - Low
0
Checking : clf_df - Close
0
Checking : clf_df - Adj Close
0
Checking : clf_df - Volume
0

In [13]:
# printing num of empty in gold_df
for column in gold_df:
    print("Checking : gold_df -", column)
    print(find_num_nans(gold_df, column))

Checking : gold_df - Date
0
Checking : gold_df - Open
0
Checking : gold_df - High
0
Checking : gold_df - Low
0
Checking : gold_df - Close
0
Checking : gold_df - Adj Close
0
Checking : gold_df - Volume
0

In [14]:
# printing num of empty in healthcare
for column in healthcare_19_20:
    print("Checking : healthcare_19_20 -", column)
    print(find_num_nans(healthcare_19_20, column))

Checking : healthcare_19_20 - Effective date
0
Checking : healthcare_19_20 - S&P 500 Health Care (Sector)
0

In [15]:
# printing num of empty in industrials
for column in industrials_19_20:
    print("Checking : industrials_19_20 -", column)
    print(find_num_nans(industrials_19_20, column))

Checking : industrials_19_20 - Effective date
0
Checking : industrials_19_20 - S&P 500 Industrials (Sector)
0

In [16]:
# printing num of empty in financials
for column in financials_19_20:
    print("Checking : financials_19_20 - ", column)
    print(find_num_nans(financials_19_20, column))

Checking : financials_19_20 -  Effective date
0
Checking : financials_19_20 -  S&P 500 Financials (Sector)
0

In [17]:
def get_months_mean(dframe, group):
    
    # Grouping healthcare by year and month
    months = dframe.groupby([dframe['Effective date '].dt.year.rename('year'),
                   dframe['Effective date '].dt.month_name().rename('month')])
    
    #  getting mean/average of each month per year
    group = months[group].mean().reset_index()
    
    # Counting how many entries in each month per year
    count = months.size().reset_index(name='count')
    
    return group, count

In [18]:
HC_19_20_months, count = get_months_mean(healthcare_19_20, 'S&P 500 Health Care (Sector)')

HC_19_20_months['count'] = count['count']
HC_19_20_months

    year      month  S&P 500 Health Care (Sector)  count
0   2019   December                   1170.466667     21
1   2019   November                   1116.570500     20
2   2019    October                   1075.335556      9
3   2020      April                   1117.072381     21
4   2020     August                   1243.676667     21
5   2020   February                   1180.347895     19
6   2020    January                   1195.545714     21
7   2020       July                   1212.707727     22
8   2020       June                   1167.524091     22
9   2020      March                   1025.903636     22
10  2020        May                   1162.014000     20
11  2020    October                   1244.224000     15
12  2020  September                   1220.980952     21

In [19]:
ID_19_20_months, count = get_months_mean(industrials_19_20, 'S&P 500 Industrials (Sector)')

ID_19_20_months['count'] = count['count']
ID_19_20_months

    year      month  S&P 500 Industrials (Sector)  count
0   2019   December                    683.481429     21
1   2019   November                    687.504000     20
2   2019    October                    661.018889      9
3   2020      April                    517.352857     21
4   2020     August                    644.875714     21
5   2020   February                    691.087895     19
6   2020    January                    701.021905     21
7   2020       July                    596.539091     22
8   2020       June                    590.113636     22
9   2020      March                    523.017727     22
10  2020        May                    531.836000     20
11  2020    October                    675.270000     15
12  2020  September                    654.354286     21

In [20]:
FI_19_20_months, count = get_months_mean(financials_19_20, 'S&P 500 Financials (Sector)')

FI_19_20_months['count'] = count['count']
FI_19_20_months

    year      month  S&P 500 Financials (Sector)  count
0   2019   December                   505.415238     21
1   2019   November                   493.221000     20
2   2019    October                   475.448889      9
3   2020      April                   361.561429     21
4   2020     August                   411.053810     21
5   2020   February                   500.585789     19
6   2020    January                   508.602857     21
7   2020       July                   394.775000     22
8   2020       June                   401.248182     22
9   2020      March                   368.297273     22
10  2020        May                   365.592000     20
11  2020    October                   412.360667     15
12  2020  September                   405.641905     21

In [21]:
# Adding count column based on year  

# spy_years = spy_df.groupby([spy_df['Date'].dt.year.rename('year')]).size().reset_index(name='count')
# spy_years

In [22]:
# Adding count column based on year 

# clf_years = clf_df.groupby([clf_df['Date'].dt.year.rename('year')]).size().reset_index(name='count')
# clf_years

In [23]:
# Adding count column based on year 

# gold_years = gold_df.groupby([gold_df['Date'].dt.year.rename('year')]).size().reset_index(name='count')
# gold_years

In [24]:
# Finding sum of Close price per year 

# spy_grouped = spy_df.groupby([spy_df['Date'].dt.year.rename('year')])['Close'].sum().reset_index(name='Sum')
# spy_grouped

In [25]:
# Function to find quantiles of given column/data and outliers
def find_quantiles(df, string):
    q25 = df[string].quantile(0.25)
    q25 = q25.round(2)
    q50 = df[string].quantile(0.50)
    q50 = q50.round(2)
    q75 = df[string].quantile(0.75)
    q75 = q75.round(2)
    
    diff = (q75-q25).round(2)
    sample_min = round(df[string].min(),2)
    sample_max = round(df[string].max(),2)
    
    outlier = df.loc[(df[string] < q25 - (1.5 * diff)) | (df[string] > q75 + (1.5* diff))]
    print('There upper and lower quantile of the {} price are ${}, ${} respectively'.format(string, q25, q75))
    print('Range of prices in {} is (${}, ${})'.format(string, sample_min, sample_max))
    print ('There are {} outliers in {}\n'.format(outlier.shape[0], string))
#     if(outlier.shape[0] > 0):
#         print(outlier.head(outlier.shape[0]))

In [26]:
# quantiles and outliers spy_df

find_quantiles(spy_df,'Low')
find_quantiles(spy_df,'High')
find_quantiles(spy_df,'Close')
find_quantiles(spy_df,'Adj Close')
find_quantiles(spy_df,'Volume')

There upper and lower quantile of the Low price are $1287.57, $2410.11 respectively
Range of prices in Low is ($666.79, $3284.53)
There are 0 outliers in Low

There upper and lower quantile of the High price are $1361.71, $2535.32 respectively
Range of prices in High is ($832.98, $3514.77)
There are 0 outliers in High

There upper and lower quantile of the Close price are $1326.87, $2509.98 respectively
Range of prices in Close is ($735.09, $3500.31)
There are 0 outliers in Close

There upper and lower quantile of the Adj Close price are $1326.87, $2509.98 respectively
Range of prices in Adj Close is ($735.09, $3500.31)
There are 0 outliers in Adj Close

There upper and lower quantile of the Volume price are $70807685000.0, $87438242500.0 respectively
Range of prices in Volume is ($58131140000, $161843640000)
There are 12 outliers in Volume

In [27]:
# quantiles and outliers of clf_df

find_quantiles(clf_df,'Low')
find_quantiles(clf_df,'High')
find_quantiles(clf_df,'Close')
find_quantiles(clf_df,'Adj Close')
find_quantiles(clf_df,'Volume')

There upper and lower quantile of the Low price are $46.38, $85.31 respectively
Range of prices in Low is ($-40.32, $105.31)
There are 1 outliers in Low

There upper and lower quantile of the High price are $54.51, $96.78 respectively
Range of prices in High is ($29.13, $114.83)
There are 0 outliers in High

There upper and lower quantile of the Close price are $50.07, $91.99 respectively
Range of prices in Close is ($18.84, $113.93)
There are 0 outliers in Close

There upper and lower quantile of the Adj Close price are $50.07, $91.99 respectively
Range of prices in Adj Close is ($18.84, $113.93)
There are 0 outliers in Adj Close

There upper and lower quantile of the Volume price are $5709265.75, $13368068.0 respectively
Range of prices in Volume is ($3789627, $5801651301)
There are 21 outliers in Volume

In [28]:
# quantiles and outliers of gold_df

find_quantiles(gold_df,'Low')
find_quantiles(gold_df,'High')
find_quantiles(gold_df,'Close')
find_quantiles(gold_df,'Adj Close')
find_quantiles(gold_df,'Volume')

There upper and lower quantile of the Low price are $1169.1, $1421.52 respectively
Range of prices in Low is ($805.6, $1871.6)
There are 1 outliers in Low

There upper and lower quantile of the High price are $1241.45, $1534.08 respectively
Range of prices in High is ($930.3, $2063.0)
There are 2 outliers in High

There upper and lower quantile of the Close price are $1201.5, $1479.72 respectively
Range of prices in Close is ($890.7, $1967.6)
There are 2 outliers in Close

There upper and lower quantile of the Adj Close price are $1201.5, $1479.72 respectively
Range of prices in Adj Close is ($890.7, $1967.6)
There are 2 outliers in Adj Close

There upper and lower quantile of the Volume price are $11156.5, $345574.5 respectively
Range of prices in Volume is ($2715, $4214050197)
There are 29 outliers in Volume

In [29]:
# quantiles and outliers of healthcare_19-20

column_list = list(healthcare_19_20.columns)
find_quantiles(healthcare_19_20,column_list[1])

There upper and lower quantile of the S&P 500 Health Care (Sector) price are $1136.78, $1215.68 respectively
Range of prices in S&P 500 Health Care (Sector) is ($870.99, $1273.61)
There are 13 outliers in S&P 500 Health Care (Sector)

In [30]:
# quantiles and outliers of industrials_19-20

column_list = list(industrials_19_20.columns)
find_quantiles(industrials_19_20,column_list[1])

There upper and lower quantile of the S&P 500 Industrials (Sector) price are $577.13, $684.56 respectively
Range of prices in S&P 500 Industrials (Sector) is ($412.06, $718.21)
There are 1 outliers in S&P 500 Industrials (Sector)

In [31]:
# quantiles and outliers of financials_19-20

column_list = list(financials_19_20.columns)
find_quantiles(financials_19_20,column_list[1])

There upper and lower quantile of the S&P 500 Financials (Sector) price are $387.11, $493.81 respectively
Range of prices in S&P 500 Financials (Sector) is ($293.55, $516.21)
There are 0 outliers in S&P 500 Financials (Sector)

In [61]:
dynamic_timestamp(2001, 10, 3)

Timestamp('2001-10-03 00:00:00')

In [72]:
def timestamp_to_datetime(date: pd.Timestamp) -> datetime:
    return date.to_pydatetime
def datetime_to_timestamp(date: datetime) -> pd.Timestamp:
    return pd.Timestamp(date)
def dynamic_t(year=0, month=0, day=0, hour=0, minute=0, second=0) -> pd.Timestamp:
    return datetime_to_timestamp(datetime(year, month, day, hour, minute, second))

# SHOW RANGE TO PRINT GRAPH IN INTERVALS EASILY
def get_range(df: pd.DataFrame, col: str, start_time_t: pd.Timestamp, end_time_t: pd.Timestamp) -> pd.DataFrame:
    return df.loc[ (start_time_t < df[col]) & (df[col] < end_time_t)]

In [82]:
# PANDEMIC DATES

covid_dates = dynamic_t(2020, 3, 1), dynamic_t(2020, 10, 1)
swine_dates = dynamic_t(2009, 3, 1), dynamic_t(2009, 11, 1)

In [ ]:
# SWINE FLU

In [77]:
# GOLD
get_range(gold_df, 'Date', *swine_dates)

,Date,Open,High,Low,Close,Adj Close,Volume
3,2009-04-01,918.599976,932.500000,865.000000,890.700012,890.700012,17300
4,2009-05-01,884.000000,980.400024,881.500000,978.799988,978.799988,234559
5,2009-06-01,978.799988,990.299988,917.299988,927.099976,927.099976,12773
6,2009-07-01,929.299988,958.099976,905.599976,953.700012,953.700012,177420
7,2009-08-01,952.599976,971.099976,931.500000,951.700012,951.700012,7492
8,2009-09-01,954.200012,1019.799988,948.700012,1008.000000,1008.000000,15642
9,2009-10-01,1007.400024,1070.199951,986.799988,1039.699951,1039.699951,3699

In [80]:
# S&P
get_range(spy_df, 'Date', *swine_dates)

,Date,Open,High,Low,Close,Adj Close,Volume
3,2009-04-01,793.590027,888.700012,783.320007,872.809998,872.809998,138855320000
4,2009-05-01,872.739990,930.169983,866.099976,919.140015,919.140015,131614940000
5,2009-06-01,923.260010,956.229980,888.859985,919.320007,919.320007,112653150000
6,2009-07-01,920.820007,996.679993,869.320007,987.479980,987.479980,106635790000
7,2009-08-01,990.219971,1039.469971,978.510010,1020.619995,1020.619995,116059270000
8,2009-09-01,1019.520020,1080.150024,991.969971,1057.079956,1057.079956,112295490000
9,2009-10-01,1054.910034,1101.359985,1019.950012,1036.189941,1036.189941,113410990000

In [81]:
# OIL
get_range(clf_df, 'Date', *swine_dates)

        Date       Open       High        Low      Close  Adj Close   Volume
3 2009-04-01  48.959999  53.900002  43.830002  51.119999  51.119999  4954274
4 2009-05-01  50.950001  66.639999  50.430000  66.309998  66.309998  5254102
5 2009-06-01  66.480003  73.379997  64.949997  69.889999  69.889999  5843371
6 2009-07-01  70.449997  71.849998  58.320000  69.449997  69.449997  6155493
7 2009-08-01  69.300003  75.000000  65.230003  69.959999  69.959999  5930812
8 2009-09-01  69.559998  73.160004  65.050003  70.610001  70.610001  5938598
9 2009-10-01  70.400002  82.000000  68.050003  77.000000  77.000000  7286480